name: Deploy static content to Pages

on:
  push:
    branches:
    - main
  workflow_dispatch:
  workflow_run:
    workflows:
    - Run dbt
    types:
    - completed

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  DBT_PROFILES_DIR: .
  DUCKDB_PATH: github_contributions.duckdb
  PYTHON_VERSION: 3.9

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Download duckdb
      uses: dawidd6/action-download-artifact@v2
      with:
        name: ${{ env.DUCKDB_PATH }}
        workflow: dbt.yml
        workflow_conclusion: success

    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        python -m pip install duckdb pandas Jinja2

    - name: Generate site
      run: python _site/generate_html.py ${{ env.DUCKDB_PATH }} _site/build/index.html

    - name: Setup Pages
      uses: actions/configure-pages@v3

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v2
      with:
        path: "_site/build/"

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v2
